*.iml
.gradle/
.idea/
.DS_Store
/build
/captures
/local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
app/build/
domain/build/
kotlin-js-store/
.cxx/
*.log
.kotlin/
keystore.properties
*.jks
*.keystore
!debug.keystore
__pycache__/
*.py[cod]
